// ==========================================================================
// Navbar
// ==========================================================================

.navbar {	
	position: relative;
	@include mq(medium) { 
		margin-top: em(5px);
		margin-bottom: 0;
		display: inline-block;



		// NEW CODE ---CHECK THIS IS DRY---
		float: right;
		text-align: right;
		// NEW CODE ---CHECK THIS IS DRY---


	}



}

